.input100{text-align:right !important;}

.inpute100:active{color: red;}

.label-input100{color: white;}

.div{background-color: red !important;}

.Right{text-align:right !important;}

.contact10-form-btn{
    background-color:red !important;
    height:30px;
    color:red !important;
}

