.Right{text-align: right !important;}
.Left{ text-align: left  !important;}
.navabr-brand{color: red !important;font-size: larger;}
.gray{background-color: gray;}
.ShadowTXT{color: gray;}
.ddd{background-color: #999999 !important;border:1px solid grey;}
.DropDown{color: #E8E7E7;margin:14px 5px}
.card-img-top{height:200px !important;}