<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="WebProjectConnectionString" connectionString="Data Source=DESKTOP-8MKEUHC;Initial Catalog=WebProject;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="WebProjectConnectionString2" connectionString="Data Source=DESKTOP-8MKEUHC;Initial Catalog=WebProject;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
</configuration>