<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="WebProjectConnectionString" connectionString="Data Source=DESKTOP-8MKEUHC;Initial Catalog=WebProject;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
</configuration>
<!--ProjectGuid: {f5704bed-cb12-445f-a6a7-bd15514e13f0}-->